<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EssentialApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27F3628027BE35A4001F64C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F3629627BE35A6001F64C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F362A027BE35A6001F64C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F3630427C4B89C001F64C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
